<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>日報管理システム</title>
</head>
<body>
    <h1>日報管理システム</h1>
    <h2>従業員情報 詳細ページ</h2>
        <label for="id">社員番号</label>
        <span th:text="*{employee.authentication.code}"></span>
        <br>
        <label for="name">氏名</label>
        <span th:text="*{employee.name}"></span>
        <br>
        <label for="role">権限</label>
        <span th:text="*{employee.authentication.role}"></span>
        <br>
        <label for="name">登録日時</label>
        <span th:text="*{employee.created_at}"></span>
        <br>
        <label for="role">更新日時</label>
        <span th:text="*{employee.updated_at}"></span>
        <br>
        <a th:href="@{/employee/update/{id}/(id=*{employee.id})}">従業員画面を編集する</a>
        <a th:href="@{/employee/list}">一覧に戻る</a>
</body>
</html>