<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>日報管理システム</title>
</head>
<body>
    <h1>日報管理システムへようこそ！</h1>
    <h2>自分の日報一覧</h2>
        <br><br>
        <table>
        <tr>
            <th>社員番号</th>
            <th>氏名</th>
            <th>操作</th>
        </tr>
        <tr th:each="employee : ${employeelist}">
            <td th:text="${employee.authentication.code}"></td>
            <td th:text="${employee.name}"></td>
            <td><a th:href="@{/employee/detail/{code}/(code=${employee.authentication.code})}">詳細を見る</a></td>
        </tr>
    </table>
                <a th:href="@{/employee/register}">新規従業員の登録</a>
</body>
</html>